<% articles = category.articles.order(created_at: :desc).limit(7) %>
<% unless articles.blank? %>
<section class="container w-90 category-section mt-5">
  <h3><a class="text-dark icon-link icon-link-hover" href="<%= category_path(category)%>"> <%= category.name %> <i class="fa fa-arrow-right ps-2 py-0 bi" aria-hidden="true"></i></a></h3>
  <div class="row">
    <div class="col-md-8 right-col">
      <div class="card border-0">
        <a href="#"><img src="<%= url_for(articles.first.image)%>" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="card-title fs-5"> <%= articles.first.title %></h5>
          </a>
          <p>By <%= articles.first.author.email %> | <span><i class="fa fa-clock" aria-hidden="true"></i></span> <%= articles.first.formatted_created_at %></p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 card-group">
        <%# Start %>
        <% articles[3..6].each do |article| %>
          <div class="col">
            <div class="card border-0">
              <div class="row g-3">
                <!-- Image Section -->
                <div class="col-auto">
                  <a href="<%= article_path(article) %>">
                    <img src="<%= url_for(article.image) %>" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                  </a>
                </div>
                <!-- Text Section -->
                <div class="col">
                  <div class="card-body p-0">
                    <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      <h6 class="card-title mb-2"><%= article.title %></h6>
                    </a>
                    <p class="mb-0">By <%= article.author.email %> | <span><i class="fa fa-clock font-light" aria-hidden="true"></i></span> <%= article.formatted_created_at %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
      </div>
    </div>
    <div class="col-md-4 border-left left-col">
      <% articles[1..2].each do |article| %>
        <div class="card border-0">
          <a href="#"><img src="<%= url_for(article.image) %>" class="card-img-top" alt="..."></a>
          <div class="card-body py-1 px-0">
            <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
              <h6 class="card-title"><%= article.title %></h6>
            </a>
            <p>By <%= article.author.email %> | <span><i class="fa fa-clock" aria-hidden="true"></i></span> <%= article.formatted_created_at %></p>
          </div>
        </div>
      <% end %>
      <div class="card border-0">
        <a href="#"><img src="https://napoleonnews.com/wp-content/uploads/2024/11/images-42.jpeg" class="card-img-top" alt="..."></a>
        <div class="card-body py-1 px-0">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h6 class="card-title">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
          </a>
          <p>By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
        </div>
      </div>
      <div class="card border-0">
        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkQyRj_8j4UwtZ9Y8vHMryvnswJivYL5RNw&s" class="card-img-top" alt="..."></a>
        <div class="card-body py-1 px-0">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h6 class="card-title">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
          </a>
          <p>By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>