<nav class="navbar navbar-expand-lg navbar-tertiary px-5 fixed-top border-bottom border-primary">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Napoleon News</a> %>
    <a class="navbar-brand" href=<%= root_path %>><img src="https://napoleonnews.com/wp-content/uploads/2024/09/napoleon_logo-768x316.png" width="120" height="50" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown mx-3" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Interviews</a></li>
            <li><a class="dropdown-item" href="#">Stories</a></li>
            <li><a class="dropdown-item" href="#">CSR</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown mx-3" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Leadership
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Transformational Leaders</a></li>
            <li><a class="dropdown-item" href="#">Governance</a></li>
            <li><a class="dropdown-item" href="#">Legal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown mx-3" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Finance</a></li>
            <li><a class="dropdown-item" href="#">SMEs</a></li>
            <li><a class="dropdown-item" href="#">Innovation</a></li>
            <li><a class="dropdown-item" href="#">Listings</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown mx-3" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Society
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Men</a></li>
            <li><a class="dropdown-item" href="#">Youth</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">MBGN Contest</a></li>
            <li><a class="dropdown-item" href="#">Instant Quiz</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" data-turbo-permanent>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Trending</a></li>
            <li><a class="dropdown-item" href="#">Entertainment</a></li>
            <li><a class="dropdown-item" href="#">Tech</a></li>
            <li><a class="dropdown-item" href="#">Sports</a></li>
            <li><a class="dropdown-item" href="#">Culture</a></li>
          </ul>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex me-2">

        <% if user_signed_in? %>
          <div class="d-flex me-2">
            <%= link_to destroy_user_session_path, 
            data: { "turbo-method": :delete }, 
            class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-sign-out-alt me-1"></i> Logout
            <% end %>
          </div>
        <% else %>
          <div class="d-flex me-2">
            <%= link_to new_user_session_path, 
            class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-sign-in-alt me-1"></i> Login
            <% end %>
          </div>
        <% end %>

        <% if current_user&.admin? %>
          <div class="d-flex me-2">
            <%= link_to user_admin_index_path(current_user), 
            class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-sign-out-alt me-1"></i> Admin Dashboard
            <% end %>
          </div>
        <% elsif current_user&.editor? %>
          <div class="d-flex me-2">
            <%= link_to user_admin_index_path(current_user), 
            class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-sign-in-alt me-1"></i> Editor Dashboard
            <% end %>
          </div>
        <% elsif current_user&.author? %>
          <div class="d-flex me-2">
            <%= link_to user_authored_articles_path(current_user, author_id: current_user.id), 
            class: "btn btn-outline-secondary btn-sm me-2" do %>
              <i class="fas fa-sign-in-alt me-1"></i> Author Dashboard
            <% end %>
          </div>
        <% end %>
        <a href="#" class="btn btn-outline-primary text-decoration-none text-primary btn-sm me-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-outline-dark text-decoration-none text-dark btn-sm me-2"><i class="fab fa-x-twitter"></i></a>
        <a href="#" class="btn btn-outline-danger text-decoration-none text-danger btn-sm me-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="btn btn-outline-secondary text-decoration-none text-secondary btn-sm"><i class="fab fa-linkedin"></i></a>
      </div>
      <%# <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> %>
    </div>
  </div>
</nav>